[Unit]
Description=PR1012 ping service

[Service]
Type=simple
User=applications
Group=applications
ExecStart=/bin/bash -c "while true; do ping -c 1 133.11.216.201 || true ; sleep 1; done"
Restart=on-failure

[Install]
WantedBy=network-online.target
